
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-container {
  position: relative;
  min-height: 100vh;
  padding:0;
  margin:0;
}

.content-wrap {
  padding-bottom: 50px;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
  height: 50px;  
  text-align:center;
  background-color: #cecef8;
  color:white;
  text-align:center;
}

.row1{
    background-color:#cecef8;
    margin:0;padding:0;
    text-align:center;
    height:100px;
}

.row1 ul li{
    color:black;
    display: inline-block;
    margin-right:30px;
    
}

.container{
    padding-bottom: 50px;    
}

*.row1 .symfony{
    color:white;
    text-decoration:none;
    font-size:28px;
}

.butsh{
    cursor:pointer;
}
.butshide{
    cursor:pointer;
    display:none;
}

.shhide{
    display:none;    
}

textarea{
    width:100%;
}




select{
    width:100%;
}

#form_nameuser{
    width:100%;
}
.btn{
    margin:5px;
}

.me{
    float:left;
    color:red;
    padding:5px;
}





