<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>A Symfony Demo App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div class="page-container ">
        <div className="content-wrap">
        <div class="row row1">
        <div class="symfony">A Symfony Demo APP</div>
        </div>        
        <div class="container">
            {% block body %}{% endblock %}
        </div>     
        <footer className="fixed-bottom">
          <div className="footer-copyright text-center py-3">© 2019 Copyright:
            ydbweb.com
          </div>
        </footer>           
        </div>       
    </div>


</body>
</html>
<html>
